.chat-container {
    height: 500px;
    overflow-y: scroll;
}

li{
    cursor: pointer;
    margin-top: 1%;
}
.boxy-video-screen {
    width: 400px;
    height: 300px;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }